<div class="fp-content-header">{Header}</div>
<img class="fp-branding-designs" src="/images/branding/designs.png" alt="Logo Concepts">
{Branding_Para1,<a href="https://creativecommons.org/licenses/by/4.0/">}
<div class="fp-content-spacer"></div>
{Branding_Para2,<code class="fp-branding-color-1">,<code class="fp-branding-color-2">}
<div class="fp-content-subheader">{Assets}</div>
<div class="fp-branding-downloads fp-branding-assets">
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_logo.svg">
		<div class="fp-branding-download-title"><b>Logo With Background</b></div>
		<a href="/images/branding/assets/fp_logo.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_logo.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_inverted.svg">
		<div class="fp-branding-download-title"><b>Colorized Logo</b></div>
		<a href="/images/branding/assets/fp_inverted.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_inverted.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_black.svg">
		<div class="fp-branding-download-title"><b>Monochrome Logo</b></div>
		<a href="/images/branding/assets/fp_black.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_black.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_circle.svg">
		<div class="fp-branding-download-title"><b>Circular Logo</b></div>
		<a href="/images/branding/assets/fp_circle.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_circle.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_international.svg">
		<div class="fp-branding-download-title"><b>International Logo</b></div>
		<a href="/images/branding/assets/fp_international.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_international.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_retrowave.svg">
		<div class="fp-branding-download-title"><b>Retrowave Logo</b></div>
		<a href="/images/branding/assets/fp_retrowave.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_retrowave.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_secure_player.svg">
		<div class="fp-branding-download-title"><b>Secure Player Logo</b></div>
		<a href="/images/branding/assets/fp_secure_player.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_secure_player.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_wordmark.svg">
		<div class="fp-branding-download-title"><b>Wordmark</b></div>
		<a href="/images/branding/assets/fp_wordmark.svg">{Download} (SVG)</a>
		<a href="/images/branding/assets/fp_wordmark.png">{Download} (PNG)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/assets/fp_logo_styles.svg">
		<div class="fp-branding-download-title"><b>2020 Logo Stylesheet</b></div>
		<a href="/images/branding/assets/fp_logo_styles.svg">{Download} (SVG)</a>
	</div>
</div>
<div class="fp-content-subheader">{Wallpapers}</div>
<div class="fp-branding-downloads fp-branding-wallpapers">
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/wallpapers/fp_generic_thumb.png">
		<div class="fp-branding-download-title"><b>Generic</b> {By_Author,"Rain"}</div>
		<div class="fp-branding-wallpaper-ratios">
			<div class="fp-branding-wallpaper-ratio">
				<b>SD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_generic_800x600.png">800x600</a>
					<a href="/images/branding/wallpapers/fp_generic_1024x768.png">1024x768</a>
					<a href="/images/branding/wallpapers/fp_generic_1600x1200.png">1600x1200</a>
				</div>
			</div>
			<div class="fp-branding-wallpaper-ratio-divider"></div>
			<div class="fp-branding-wallpaper-ratio">
				<b>HD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_generic_1280x720.png">1280x720</a>
					<a href="/images/branding/wallpapers/fp_generic_1920x1080.png">1920x1080</a>
					<a href="/images/branding/wallpapers/fp_generic_3840x2160.png">3840x2160</a>
				</div>
			</div>
		</div>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/wallpapers/fp_shadow_thumb.png">
		<div class="fp-branding-download-title"><b>Shadow</b> {By_Author,"Rain"}</div>
		<div class="fp-branding-wallpaper-ratios">
			<div class="fp-branding-wallpaper-ratio">
				<b>SD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_shadow_800x600.png">800x600</a>
					<a href="/images/branding/wallpapers/fp_shadow_1024x768.png">1024x768</a>
					<a href="/images/branding/wallpapers/fp_shadow_1600x1200.png">1600x1200</a>
				</div>
			</div>
			<div class="fp-branding-wallpaper-ratio-divider"></div>
			<div class="fp-branding-wallpaper-ratio">
				<b>HD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_shadow_1280x720.png">1280x720</a>
					<a href="/images/branding/wallpapers/fp_shadow_1920x1080.png">1920x1080</a>
					<a href="/images/branding/wallpapers/fp_shadow_3840x2160.png">3840x2160</a>
				</div>
			</div>
		</div>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/wallpapers/fp_retro_thumb.png">
		<div class="fp-branding-download-title"><b>Retrowave</b> {By_Author,"Rain"}</div>
		<div class="fp-branding-wallpaper-ratios">
			<div class="fp-branding-wallpaper-ratio">
				<b>SD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_retro_800x600.png">800x600</a>
					<a href="/images/branding/wallpapers/fp_retro_1024x768.png">1024x768</a>
					<a href="/images/branding/wallpapers/fp_retro_1600x1200.png">1600x1200</a>
				</div>
			</div>
			<div class="fp-branding-wallpaper-ratio-divider"></div>
			<div class="fp-branding-wallpaper-ratio">
				<b>HD:</b>
				<div class="fp-branding-wallpaper-sizes">
					<a href="/images/branding/wallpapers/fp_retro_1280x720.png">1280x720</a>
					<a href="/images/branding/wallpapers/fp_retro_1920x1080.png">1920x1080</a>
					<a href="/images/branding/wallpapers/fp_retro_3840x2160.png">3840x2160</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fp-content-subheader">{Banners}</div>
<div class="fp-branding-downloads fp-branding-banners">
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/banners/fpred.gif">
		<div class="fp-branding-download-title"><b>Generic</b> {By_Author,"Wumbo"}</div>
		<a href="/images/branding/banners/fpred.gif">{Download} (GIF)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/banners/fpnow.gif">
		<div class="fp-branding-download-title"><b>Netscape Style</b> {By_Author,"Wumbo"}</div>
		<a href="/images/branding/banners/fpnow.gif">{Download} (GIF)</a>
	</div>
	<div class="fp-branding-download-container">
		<img class="fp-branding-download-image" src="/images/branding/banners/getfp.gif">
		<div class="fp-branding-download-title"><b>Macromedia Style</b> {By_Author,"Wumbo"}</div>
		<a href="/images/branding/banners/getfp.gif">{Download} (GIF)</a>
	</div>
</div>