<div class="fp-content-header">{Header}</div>
{FAQ_Para1,<a href="/contact">,<a href="/discord">}
<div class="fp-content-subheader">{Flash_Shutdown_Questions_Header}</div>
<div class="fp-hidden-content-container" id="december2020">
	<div class="fp-hidden-content-header"><a href="#december2020">{December_2020_Question}</a></div>
	<div class="fp-hidden-content">
		{December_2020_Answer_Para1,<a href="/datahub/Flash_EOL">,<a href="https://ruffle.rs/">}
	</div>
</div>
<div class="fp-hidden-content-container" id="projector">
	<div class="fp-hidden-content-header"><a href="#projector">{Projector_Question}</a></div>
	<div class="fp-hidden-content">
		{Projector_Answer_Para1,<i>}
		<div class="fp-content-spacer"></div>
		{Projector_Answer_Para2,<i>}
	</div>
</div>
<div class="fp-hidden-content-container" id="waybackmachine">
	<div class="fp-hidden-content-header"><a href="#waybackmachine">{Wayback_Machine_Question}</a></div>
	<div class="fp-hidden-content">
		{Wayback_Machine_Answer_Para1}
	</div>
</div>
<div class="fp-hidden-content-container" id="html5">
	<div class="fp-hidden-content-header"><a href="#html5">{HTML5_Question}</a></div>
	<div class="fp-hidden-content">
		{HTML5_Answer_Para1}
	</div>
</div>
<div class="fp-content-subheader">{Project_Questions_Header}</div>
<div class="fp-hidden-content-container" id="safety">
	<div class="fp-hidden-content-header"><a href="#safety">{Safety_Question}</a></div>
	<div class="fp-hidden-content">
		{Safety_Answer_Para1,<a href="/source">}
		<div class="fp-content-spacer"></div>
		{Safety_Answer_Para2,<a href="/datahub/Troubleshooting_Antivirus_Interference">}
	</div>
</div>
<div class="fp-hidden-content-container" id="operatingsystems">
	<div class="fp-hidden-content-header"><a href="#operatingsystems">{Operating_Systems_Question}</a></div>
	<div class="fp-hidden-content">
		{Operating_Systems_Answer_Para1,<a href="/downloads">}
	</div>
</div>
<div class="fp-hidden-content-container" id="chromebook">
	<div class="fp-hidden-content-header"><a href="#chromebook">{Chromebook_Question}</a></div>
	<div class="fp-hidden-content">
		{Chromebook_Answer_Para1,<a href="https://www.youtube.com/watch?v=lDbuKCEfAqY">,<a href="https://support.google.com/chromebook/answer/9145439">}
		<div class="fp-content-spacer"></div>
		{Chromebook_Answer_Para2,<a href="/downloads">}
	</div>
</div>
<div class="fp-hidden-content-container" id="android">
	<div class="fp-hidden-content-header"><a href="#android">{Android_Question}</a></div>
	<div class="fp-hidden-content">
		{Android_Answer_Para1}
		<div class="fp-content-spacer"></div>
		<ul>
			<li>{Android_Answer_Bullet1}</li>
			<li>{Android_Answer_Bullet2}</li>
			<li>{Android_Answer_Bullet3}</li>
			<li>{Android_Answer_Bullet4}</li>
			<li>{Android_Answer_Bullet5}</li>
		</ul>
		<div class="fp-content-spacer"></div>
		{Android_Answer_Para2,<a href="https://ooooooooo.ooo/">,<a href="https://github.com/ruffle-rs/ruffle-android">}
	</div>
</div>
<div class="fp-hidden-content-container" id="archivesize">
	<div class="fp-hidden-content-header"><a href="#archivesize">{Archive_Size_Question}</a></div>
	<div class="fp-hidden-content">
		{Archive_Size_Answer_Para1,<b>,grandTotal,lastUpdated,<a href="/search">}
	</div>
</div>
<div class="fp-hidden-content-container" id="othertechnologies">
	<div class="fp-hidden-content-header"><a href="#othertechnologies">{Other_Technologies_Question}</a></div>
	<div class="fp-hidden-content">
		{Other_Technologies_Answer_Para1,<a href="/search">}
	</div>
</div>
<div class="fp-hidden-content-container" id="searching">
	<div class="fp-hidden-content-header"><a href="#searching">{Searching_Question}</a></div>
	<div class="fp-hidden-content">
		{Searching_Answer_Para1,<a href="/search">}
	</div>
</div>
<div class="fp-hidden-content-container" id="availability">
	<div class="fp-hidden-content-header"><a href="#availability">{Availability_Question}</a></div>
	<div class="fp-hidden-content">
		{Availability_Answer_Para1}
		<div class="fp-content-spacer"></div>
		<ul>
			<li>{Availability_Answer_Bullet1,<a href="#extremecontent">,Extreme_Content_Question}</li>
			<li>{Availability_Answer_Bullet2,<a href="/datahub/Not_Accepted_Curations">}</li>
			<li>{Availability_Answer_Bullet3,<a href="#requesting">,<a href="#curating">}</li>
		</ul>
	</div>
</div>
<div class="fp-hidden-content-container" id="nitrome">
	<div class="fp-hidden-content-header"><a href="#nitrome">{Nitrome_Question}</a></div>
	<div class="fp-hidden-content">
		{Nitrome_Answer_Para1,<a href="https://www.nitrome.com/">}
		<div class="fp-content-spacer"></div>
		<i>{Nitrome_Answer_Para2}</i>
	</div>
</div>
<div class="fp-hidden-content-container" id="onlinemultiplayer">
	<div class="fp-hidden-content-header"><a href="#onlinemultiplayer">{Online_Multiplayer_Question}</a></div>
	<div class="fp-hidden-content">
		{Online_Multiplayer_Answer_Para1}
	</div>
</div>
<div class="fp-hidden-content-container" id="questionablecontent">
	<div class="fp-hidden-content-header"><a href="#questionablecontent">{Questionable_Content_Question}</a></div>
	<div class="fp-hidden-content">
		{Questionable_Content_Answer_Para1}
		<div class="fp-content-spacer"></div>
		{Questionable_Content_Answer_Para2}
		<div class="fp-content-spacer"></div>
		{Questionable_Content_Answer_Para3}
	</div>
</div>
<div class="fp-hidden-content-container" id="corrections">
	<div class="fp-hidden-content-header"><a href="#corrections">{Corrections_Question}</a></div>
	<div class="fp-hidden-content">
		{Corrections_Answer_Para1,<a href="/contact">,<a href="/discord">}
	</div>
</div>
<div class="fp-hidden-content-container" id="requesting">
	<div class="fp-hidden-content-header"><a href="#requesting">{Requesting_Question}</a></div>
	<div class="fp-hidden-content">
		{Requesting_Answer_Para1,<a href="/datahub/Requesting_Content_For_Archival">,<a href="#curating">}
	</div>
</div>
<div class="fp-hidden-content-container" id="curating">
	<div class="fp-hidden-content-header"><a href="#curating">{Curating_Question}</a></div>
	<div class="fp-hidden-content">
		{Curating_Answer_Para1,<a href="/datahub/Curation_Tutorial">}
	</div>
</div>
<div class="fp-hidden-content-container" id="contributing">
	<div class="fp-hidden-content-header"><a href="#contributing">{Contributing_Question}</a></div>
	<div class="fp-hidden-content">
		{Contributing_Answer_Para1,<a href="/discord">}
	</div>
</div>
<div class="fp-hidden-content-container" id="donating">
	<div class="fp-hidden-content-header"><a href="#donating">{Donating_Question}</a></div>
	<div class="fp-hidden-content">
		{Donating_Answer_Para1,<a href="https://opencollective.com/flashpointarchive">}
	</div>
</div>
<div class="fp-hidden-content-container" id="logo">
	<div class="fp-hidden-content-header"><a href="#logo">{Logo_Question}</a></div>
	<div class="fp-hidden-content">
		{Logo_Answer_Para1,<a href="https://creativecommons.org/licenses/by/4.0/">,<a href="/branding">}
	</div>
</div>
<div class="fp-hidden-content-container" id="removalrequests">
	<div class="fp-hidden-content-header"><a href="#removalrequests">{Removal_Requests_Question}</a></div>
	<div class="fp-hidden-content">
		{Removal_Requests_Answer_Para1,<a href="/discord">,<a href="/contact">}
	</div>
</div>
<div class="fp-content-subheader">{Using_Flashpoint_Header}</div>
<div class="fp-hidden-content-container" id="updating">
	<div class="fp-hidden-content-header"><a href="#updating">{Updating_Question}</a></div>
	<div class="fp-hidden-content">
		{Updating_Answer_Para1,<i>,<code>,"Manager\FlashpointManager.exe"}
		<div class="fp-content-spacer"></div>
		{Updating_Answer_Para2,<code>,"Data\Playlists"}
		<div class="fp-content-spacer"></div>
		{Updating_Answer_Para3,<a href="https://github.com/FlashpointProject/FlashpointUltimateUpdater/releases/latest">}
	</div>
</div>
<div class="fp-hidden-content-container" id="releasechannels">
	<div class="fp-hidden-content-header"><a href="#releasechannels">{Release_Channels_Question}</a></div>
	<div class="fp-hidden-content">
		{Release_Channels_Answer_Para1,<i>}
		<div class="fp-content-spacer"></div>
		<i>{Release_Channels_Answer_Para2,<b>}</i>
	</div>
</div>
<div class="fp-hidden-content-container" id="uninstalling">
	<div class="fp-hidden-content-header"><a href="#uninstalling">{Uninstalling_Question}</a></div>
	<div class="fp-hidden-content">
		{Uninstalling_Answer_Para1}
	</div>
</div>
<div class="fp-hidden-content-container" id="reducingsize">
	<div class="fp-hidden-content-header"><a href="#reducingsize">{Reducing_Size_Question}</a></div>
	<div class="fp-hidden-content">
		{Reducing_Size_Answer_Para1}
		<div class="fp-content-spacer"></div>
		<ul>
			<li><code>Data\Games</code> {Reducing_Size_Answer_Bullet1}</li>
			<li><code>Legacy\htdocs</code> {Reducing_Size_Answer_Bullet2}</li>
			<li><code>Data\Images</code> {Reducing_Size_Answer_Bullet3}</li>
		</ul>
		<div class="fp-content-spacer"></div>
		{Reducing_Size_Answer_Para2,<i>}
	</div>
</div>
<div class="fp-hidden-content-container" id="playlists">
	<div class="fp-hidden-content-header"><a href="#playlists">{Playlists_Question}</a></div>
	<div class="fp-hidden-content">
		{Playlists_Answer_Para1}
		<div class="fp-content-spacer"></div>
		{Playlists_Answer_Para2}
	</div>
</div>
<div class="fp-hidden-content-container" id="editingentries">
	<div class="fp-hidden-content-header"><a href="#editingentries">{Editing_Entries_Question}</a></div>
	<div class="fp-hidden-content">
		{Editing_Entries_Answer_Para1,<i>}
	</div>
</div>
<div class="fp-hidden-content-container" id="missingsidebars">
	<div class="fp-hidden-content-header"><a href="#missingsidebars">{Missing_Sidebars_Question}</a></div>
	<div class="fp-hidden-content">
		{Missing_Sidebars_Answer_Para1}
	</div>
</div>
<div class="fp-hidden-content-container" id="entrygrid">
	<div class="fp-hidden-content-header"><a href="#entrygrid">{Entry_Grid_Question}</a></div>
	<div class="fp-hidden-content">
		{Entry_Grid_Answer_Para1}
	</div>
</div>
<div class="fp-hidden-content-container" id="recentlyplayed">
	<div class="fp-hidden-content-header"><a href="#recentlyplayed">{Recently_Played_Question}</a></div>
	<div class="fp-hidden-content">
		{Recently_Played_Answer_Para1,<i>}
	</div>
</div>
<div class="fp-hidden-content-container" id="extremecontent">
	<div class="fp-hidden-content-header"><a href="#extremecontent">{Extreme_Content_Question}</a></div>
	<div class="fp-hidden-content">
		{Extreme_Content_Answer_Para1,<i>}
		<div class="fp-content-spacer"></div>
		{Extreme_Content_Answer_Para2,<code>,"preferences.json","false","disableExtremeGames","true",<b>}
	</div>
</div>
<div class="fp-content-subheader">{Miscellaneous_Questions_Header}</div>
<div class="fp-hidden-content-container" id="entrylocation">
	<div class="fp-hidden-content-header"><a href="#entrylocation">{Entry_Location_Question}</a></div>
	<div class="fp-hidden-content">
		{Entry_Location_Answer_Para1,<code>,"Data\Games","Legacy\htdocs"}
	</div>
</div>
<div class="fp-hidden-content-container" id="savedatalocation">
	<div class="fp-hidden-content-header"><a href="#savedatalocation">{Save_Data_Location_Question}</a></div>
	<div class="fp-hidden-content">
		{Save_Data_Location_Answer_Para1,<a href="/datahub/Save_Data_Locations">,<i>,<code>,"Utilities\Saves Manager","Backup.bat","Flash Save Backup","Restore.bat"}
	</div>
</div>
<div class="fp-hidden-content-container" id="shortcuts">
	<div class="fp-hidden-content-header"><a href="#shortcuts">{Shortcuts_Question}</a></div>
	<div class="fp-hidden-content">
		{Shortcuts_Answer_Para1,<code>,"Launcher","Flashpoint.exe"}
	</div>
</div>
<div class="fp-hidden-content-container" id="entryshortcuts">
	<div class="fp-hidden-content-header"><a href="#entryshortcuts">{Entry_Shortcuts_Question}</a></div>
	<div class="fp-hidden-content">
		{Entry_Shortcuts_Answer_Para1}
		<div class="fp-content-spacer"></div>
		<ol>
			<li>{Entry_Shortcuts_Answer_Step1,<a href="https://github.com/oblivioncth/CLIFp/releases/latest">}</li>
			<li>{Entry_Shortcuts_Answer_Step2,<code>,"CLIFp.exe"}</li>
			<li>{Entry_Shortcuts_Answer_Step3,<a href="https://github.com/maichiu/FlashpointShortcutMaker/archive/main.zip">}</li>
			<li>{Entry_Shortcuts_Answer_Step4,<code>,"FlashpointShortcutMaker.vbs"}</li>
			<li>{Entry_Shortcuts_Answer_Step5}</li>
			<li>{Entry_Shortcuts_Answer_Step6}</li>
			<li>{Entry_Shortcuts_Answer_Step7,<code>,"FlashpointShortcutMaker.vbs"}</li>
			<li>{Entry_Shortcuts_Answer_Step8}</li>
		</ol>
		<div class="fp-content-spacer"></div>
		{Entry_Shortcuts_Answer_Para2}
	</div>
</div>
<div class="fp-hidden-content-container" id="launchbox">
	<div class="fp-hidden-content-header"><a href="#launchbox">{LaunchBox_Question}</a></div>
	<div class="fp-hidden-content">
		{LaunchBox_Answer_Para1,<a href="https://forums.launchbox-app.com/files/file/2652-obbys-flashpoint-importer-for-launchbox/">}
	</div>
</div>
<div class="fp-content-subheader">{Troubleshooting_Header}</div>
{Troubleshooting_Para1,<a href="/datahub/Troubleshooting">}