<div class="fp-content-header">@{Header}</div>
<div class="fp-home-trailer-container">
	<iframe class="fp-home-trailer" src="https://www.youtube.com/embed/0nIbn3vvvMc" title="Flashpoint Archive 2024 Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<img class="fp-home-trailer-sizer" src="/images/sizer.png">
</div>
@{Home_Para1}
<div class="fp-content-spacer"></div>
@{Home_Para2,<b><a href="/search">}
<div class="fp-content-spacer"></div>
@{Home_Para3,<a href="https://github.com/FlashpointProject/launcher">,<a href="https://github.com/FlashpointProject/FlashpointProxy">,<a href="https://github.com/FlashpointProject/FlashpointSecureTools">,<a href="/source">}
<div class="fp-content-spacer"></div>
@{Home_Para4,<a href="https://opencollective.com/flashpointarchive">}
<div class="fp-home-buttons">
	<a class="fp-home-button fp-home-download-button" href="/downloads">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 40" width="100%" fill="#fff">
			<image class="fp-home-button-icon" href="/images/download.svg" width="23" height="28" x="10" y="6"/>
			<text class="fp-home-button-text" x="42.5" y="18">@{Download_Line1}</text>
			<text class="fp-home-button-text" x="42" y="31">@{Download_Line2}</text>
		</svg>
	</a>
	<div class="fp-home-buttons-lower">
		<a class="fp-home-button fp-home-search-button" href="/search">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 40" width="100%" fill="#fff">
				<image class="fp-home-button-icon" href="/images/search.svg" width="36" height="36" x="4" y="3"/>
				<text class="fp-home-button-text" x="42.5" y="18">@{Search_Line1}</text>
				<text class="fp-home-button-text" x="42" y="30">@{Search_Line2}</text>
			</svg>
		</a>
		<a class="fp-home-button fp-home-community-button" href="/discord">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 40" width="100%" fill="#fff">
				<image class="fp-home-button-icon" href="/images/socials/discord.svg" width="28" height="28" x="8" y="7"/>
				<text class="fp-home-button-text" x="42.5" y="18">@{Discord_Line1}</text>
				<text class="fp-home-button-text" x="42" y="30">@{Discord_Line2}</text>
			</svg>
		</a>
	</div>
</div>