<div class="fp-search-page-buttons">
    <a class="fp-search-button fp-search-page-button fp-search-first-page" href="{firstPageUrl}"></a>
    <a class="fp-search-button fp-search-page-button fp-search-prev-page" href="{prevPageUrl}"></a>
    <div class="fp-search-page-text">{Pages_Count,currentPage,totalPages}</div>
    <a class="fp-search-button fp-search-page-button fp-search-next-page" href="{nextPageUrl}"></a>
    <a class="fp-search-button fp-search-page-button fp-search-last-page" href="{lastPageUrl}"></a>
</div>