<form action="/search" method="get">
	<input type="checkbox" name="advanced" value="true" checked hidden>
	<div class="fp-search-advanced-container">
		<div class="fp-search-advanced-parameter">
			<div class="fp-search-delete-button"></div>
			<select class="fp-search-dropdown fp-search-thin" name="field">
				<option value="generic">Catch-All</option>
				<option value="id">ID</option>
				<option value="library">Library</option>
				<option value="title">Title</option>
				<option value="developer">Developer</option>
				<option value="publisher">Publisher</option>
				<option value="series">Series</option>
				<option value="tags">Tag</option>
				<option value="platforms">Platform</option>
				<option value="playMode">Play Mode</option>
				<option value="status">Status</option>
				<option value="notes">Notes</option>
				<option value="source">Source</option>
				<option value="originalDescription">Original Description</option>
				<option value="language">Language</option>
				<option value="applicationPath">Application Path</option>
				<option value="launchCommand">Launch Command</option>
				<option value="dateAdded">Date Added</option>
				<option value="dateModified">Date Modified</option>
				<option value="releaseDate">Release Date</option>
				<option value="tags"># Tags</option>
				<option value="platforms"># Platforms</option>
				<option value="addApps"># Additional Apps</option>
				<option value="gameData"># Game Data</option>
			</select>
			<select class="fp-search-dropdown fp-search-thin" name="filter">
				<option value="whitelist">contains</option>
				<option value="blacklist">does not contain</option>
				<option value="exactWhitelist">is exactly</option>
				<option value="exactBlacklist">is not exactly</option>
			</select>
			<input class="fp-search-text-box fp-search-thin" type="text" name="value">
		</div>
	</div>
	<div class="fp-search-options">
		<label for="sort">Sort by:</label>
		<select class="fp-search-dropdown fp-search-thin" name="sort" id="sort">
			<option value="title">Title</option>
			<option value="developer">Developer</option>
			<option value="publisher">Publisher</option>
			<option value="series">Series</option>
			<option value="platform">Platform</option>
			<option value="dateAdded">Date Added</option>
			<option value="dateModified">Date Modified</option>
			<option value="releaseDate">Release Date</option>
			<option value="random">Random</option>
		</select>
		<select class="fp-search-dropdown fp-search-thin" name="dir">
			<option value="asc">Ascending</option>
			<option value="desc">Descending</option>
		</select>
		<input class="fp-search-checkbox" type="checkbox" name="nsfw" value="true" id="nsfw"{nsfwChecked}>
		<label class="fp-search-checkbox-label" for="nsfw">Show NSFW Entries</label>
		<input class="fp-search-checkbox" type="checkbox" name="any" value="true" id="any"{anyChecked}>
		<label class="fp-search-checkbox-label" for="any">Match Any</label>
		<div class="fp-search-options-spacer"></div>
		<div class="fp-search-button">Add Field</div>
		<a class="fp-search-button" href="/search">Switch to Simple Mode</a>
		<button class="fp-search-button" type="submit">Search</button>
	</div>
</form>