<div class="fp-content-header">@{Header}</div>
@{Source_Para1,<a href="https://github.com/FlashpointProject">}
<div class="fp-content-spacer"></div>
<div class="fp-source-table-container">
	<table class="fp-table fp-source-table">
		<tr>
			<th>@{Name}</th>
			<th>@{License}</th>
			<th>@{Description}</th>
		</tr>
		<tr>
			<td><a href="https://github.com/oblivioncth/CLIFp">Command-line Interface for Flashpoint (CLIFp)</a></td>
			<td>AGPLv3</td>
			<td>@{CLIFp_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FPA-Rust">Flashpoint Archive Rust Library</a></td>
			<td>MIT</td>
			<td>@{Rust_Library_Description,<a href="https://github.com/FlashpointProject/FPA-Rust-Node-Binding">}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FlashpointGameServer">Flashpoint Game Server</a></td>
			<td>@{No_License}</td>
			<td>@{Game_Server_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FlashpointComponentTools/tree/main/FlashpointInstaller">Flashpoint Installer</a></td>
			<td>MIT</td>
			<td>@{Installer_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/launcher">Flashpoint Launcher</a></td>
			<td>MIT</td>
			<td>@{Launcher_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FlashpointComponentTools/tree/main/FlashpointManager">Flashpoint Manager</a></td>
			<td>MIT</td>
			<td>@{Manager_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FlashpointSecureTools/tree/master/FlashpointSecurePlayer">Flashpoint Secure Player</a></td>
			<td>MIT</td>
			<td>@{Secure_Player_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/FlashpointUltimateUpdater">Flashpoint Ultimate Updater</a></td>
			<td>@{No_License}</td>
			<td>@{Ultimate_Updater_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/WumboSpasm/fpwebsite-new">Flashpoint Website</a></td>
			<td>MIT</td>
			<td>@{Website_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/flashpoint-submission-system">Flashpoint's Fantastic Submission System (FPFSS)</a></td>
			<td>MIT</td>
			<td>@{FPFSS_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/FlashpointProject/fpcurator">fpcurator</a></td>
			<td>@{No_License}</td>
			<td>@{FPCurator_Description}</td>
		</tr>
		<tr>
			<td><a href="https://github.com/tomysshadow/OldCPUSimulator">Old CPU Simulator</a></td>
			<td>MIT</td>
			<td>@{Old_CPU_Simulator_Description}</td>
		</tr>
	</table>
</div>
<div class="fp-content-spacer"></div>
@{Source_Para2}
<div class="fp-content-spacer"></div>
<div class="fp-source-table-container">
	<table class="fp-table fp-source-table">
		<tr>
			<th>Name</th>
			<th>License</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="https://httpd.apache.org/">Apache HTTP Server (httpd)</a></td>
			<td>Apache-2.0</td>
			<td>@{Apache_Description}</td>
		</tr>
		<tr>
			<td><a href="https://basilisk-browser.org/">Basilisk</a></td>
			<td>MPL-2.0</td>
			<td>@{Basilisk_Description,<i>,<a href="https://github.com/FlashpointProject/fpnavigator">}</td>
		</tr>
		<tr>
			<td><a href="https://www.chromium.org/">Chromium</a></td>
			<td>@{Various_Licenses}</td>
			<td>@{Chromium_Description}</td>
		</tr>
		<tr>
			<td><a href="https://www.mediawiki.org/">MediaWiki</a></td>
			<td>GPLv2+</td>
			<td>@{MediaWiki_Description}</td>
		</tr>
		<tr>
			<td><a href="https://www.php.net/">PHP</a></td>
			<td>PHP</td>
			<td>@{PHP_Description}</td>
		</tr>
	</table>
</div>