@media (max-width: 63.99rem) {
	.fp-home-buttons {
		max-width: 32rem;
		flex-direction: column;
	}
	.fp-home-buttons > :not(:last-child) {
		margin-bottom: 0.5rem;
	}
	.fp-home-buttons-lower > :not(:last-child) {
		margin-right: 0.5rem;
	}
}
@media (min-width: 64rem) {
	.fp-home-buttons {
		max-width: 44rem;
	}
	.fp-home-buttons > :not(:last-child) {
		margin-right: 0.5rem;
	}
	.fp-home-buttons-lower {
		flex-shrink: 0;
		flex-basis: calc(100% / 3);
		flex-direction: column;
	}
	.fp-home-buttons-lower > :not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.fp-home-trailer-container {
	max-width: 40rem;
	margin: 0 auto 1rem;
	position: relative;

	line-height: 0;
}
.fp-home-trailer {
	width: 100%;
	height: 100%;
	position: absolute;

	box-shadow: 0 0.1rem 0.4rem -0.05rem #000000;
}
.fp-home-trailer-sizer {
	width: 100%;
	height: auto;
}
.fp-home-buttons {
	margin: 1.5rem auto 0;
	display: flex;
}
:root[data-theme='light'] .fp-home-buttons {
	filter: brightness(1.25);
}
.fp-home-buttons-lower {
	display: flex;
}
.fp-home-button {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: radial-gradient(ellipse at top left, var(--fp-light-navigation-background-color-1), var(--fp-light-navigation-background-color-2));
	border-radius: 0.75rem;
	box-shadow: 0 0.1rem 0.4rem -0.05rem #000000;
	line-height: 0;
}
.fp-home-button:hover {
	text-decoration: none !important;
}
.fp-home-search-button {
	filter: hue-rotate(90deg) brightness(2);
}
.fp-home-community-button {
	filter: hue-rotate(270deg) brightness(1.25);
}
.fp-home-button-text {
	color: var(--fp-navigation-text-color);
}
:not(.fp-home-download-button) .fp-home-button-text {
	font-size: 12px;
}
:not(.fp-home-download-button) .fp-home-button-text:first-of-type {
	font-size: 9px;
}
.fp-home-download-button .fp-home-button-text {
	font-size: 14px;
}
.fp-home-download-button .fp-home-button-text:first-of-type {
	font-size: 10px;
}