/* Page theme */

:root {
	--fp-light-home-download-button-background-color-1: #ff0d26;
	--fp-light-home-download-button-background-color-2: #77040d;
	--fp-light-home-search-button-background-color-1: #4bc600;
	--fp-light-home-search-button-background-color-2: #195800;
	--fp-light-home-community-button-background-color-1: #7b31ff;
	--fp-light-home-community-button-background-color-2: #381396;

	--fp-dark-home-download-button-background-color-1: #d60a1e;
	--fp-dark-home-download-button-background-color-2: #5f030a;
	--fp-dark-home-search-button-background-color-1: #3c9e00;
	--fp-dark-home-search-button-background-color-2: #144600;
	--fp-dark-home-community-button-background-color-1: #6227ff;
	--fp-dark-home-community-button-background-color-2: #2d0f78;
}

:root:not([data-theme='dark']) {
	--fp-home-download-button-background-color-1: var(--fp-light-home-download-button-background-color-1);
	--fp-home-download-button-background-color-2: var(--fp-light-home-download-button-background-color-2);
	--fp-home-search-button-background-color-1: var(--fp-light-home-search-button-background-color-1);
	--fp-home-search-button-background-color-2: var(--fp-light-home-search-button-background-color-2);
	--fp-home-community-button-background-color-1: var(--fp-light-home-community-button-background-color-1);
	--fp-home-community-button-background-color-2: var(--fp-light-home-community-button-background-color-2);
}
:root[data-theme='dark'] {
	--fp-home-download-button-background-color-1: var(--fp-dark-home-download-button-background-color-1);
	--fp-home-download-button-background-color-2: var(--fp-dark-home-download-button-background-color-2);
	--fp-home-search-button-background-color-1: var(--fp-dark-home-search-button-background-color-1);
	--fp-home-search-button-background-color-2: var(--fp-dark-home-search-button-background-color-2);
	--fp-home-community-button-background-color-1: var(--fp-dark-home-community-button-background-color-1);
	--fp-home-community-button-background-color-2: var(--fp-dark-home-community-button-background-color-2);
}

/* Mobile accommodations */

@media (max-width: 63.99rem) {
	.fp-home-buttons {
		max-width: 32rem;
		flex-direction: column;
	}
	.fp-home-buttons > :not(:last-child) {
		margin-bottom: 0.5rem;
	}
	.fp-home-buttons-lower > :not(:last-child) {
		margin-right: 0.5rem;
	}
}
@media (min-width: 64rem) {
	.fp-home-buttons {
		max-width: 44rem;
	}
	.fp-home-buttons > :not(:last-child) {
		margin-right: 0.5rem;
	}
	.fp-home-buttons-lower {
		flex-shrink: 0;
		flex-basis: calc(100% / 3);
		flex-direction: column;
	}
	.fp-home-buttons-lower > :not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

/* Home */

.fp-home-trailer-container {
	max-width: 40rem;
	margin: 0 auto 1rem;
	position: relative;

	line-height: 0;
}
.fp-home-trailer {
	width: 100%;
	height: 100%;
	position: absolute;

	box-shadow: 0 0.1rem 0.4rem -0.05rem #000000;
}
.fp-home-trailer-sizer {
	width: 100%;
	height: auto;
}

.fp-home-buttons {
	margin: 1.5rem auto 0;
	display: flex;
}
.fp-home-buttons-lower {
	display: flex;
}
.fp-home-button {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	text-shadow: 0 0;
	border-radius: 0.75rem;
	box-shadow: 0 0.1rem 0.4rem -0.05rem #000000;
	line-height: 0;
}
.fp-home-button:hover {
	text-decoration: none !important;
}
.fp-home-download-button {
	background-image: radial-gradient(ellipse at top left, var(--fp-home-download-button-background-color-1), var(--fp-home-download-button-background-color-2));
}
.fp-home-search-button {
	background-image: radial-gradient(ellipse at top left, var(--fp-home-search-button-background-color-1), var(--fp-home-search-button-background-color-2));
}
.fp-home-community-button {
	background-image: radial-gradient(ellipse at top left, var(--fp-home-community-button-background-color-1), var(--fp-home-community-button-background-color-2));
}
.fp-home-button-text {
	color: var(--fp-shell-text-color);
}
:not(.fp-home-download-button) .fp-home-button-text {
	font-size: 12px;
}
:not(.fp-home-download-button) .fp-home-button-text:first-of-type {
	font-size: 9px;
}
.fp-home-download-button .fp-home-button-text {
	font-size: 14px;
}
.fp-home-download-button .fp-home-button-text:first-of-type {
	font-size: 10px;
}