/* Constants */

:root {
	--fp-search-first-page-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 28 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m4 8 8-6v12Zm10 0 8-6v12Z"/></svg>');
	--fp-search-last-page-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 28 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m14 8-8-6v12Zm10 0-8-6v12Z"/></svg>');
}

/* Mobile accommodations */

@media (max-width: 79.99rem) {
	.fp-search-results {
		--fp-search-result-columns: 1;
	}
}
@media (min-width: 80rem) {
	.fp-search-result {
		--fp-search-result-columns: 2;
	}
}

/* Search */

.fp-search-table {
	margin: 1.25rem auto 0.5rem;

	border-collapse: collapse;
}
.fp-search-table th,
.fp-search-table td {
	padding: 0.5rem 1rem;

	text-align: center;
	border: 0.15rem solid var(--fp-border-color);
}
.fp-search-table th {
	background-color: var(--fp-alt-background-color);
}

.fp-search-last-updated {
	margin: 0 0 0.25rem auto;
	padding-left: 0.5rem;

	font-family: var(--fp-content-font);
	font-size: 0.75rem;
	text-align: right;
}

.fp-search-simple-container {
	height: 2.75rem;
	margin-bottom: 0.5rem;
	display: flex;
}
.fp-search-simple-container > :not(:last-child) {
	margin-right: 0.25rem;
}

.fp-search-advanced-container {
	overflow-x: auto;
	display: flex;
	flex-direction: column;
}
.fp-search-advanced-container > *:not(:last-child) {
	margin-bottom: 0.5rem;
}
.fp-search-advanced-parameter {
	display: flex;
}
.fp-search-advanced-parameter > :not(:first-child):not(:last-child) {
	margin-right: 0.25rem;
}
.fp-search-advanced-parameter > .fp-dropdown:not([name='value']) {
	min-width: 10rem;
}
.fp-search-advanced-parameter > [name='value'] {
	min-width: 15rem;
}
.fp-search-delete-button {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
	align-self: center;
	flex-shrink: 0;

	background-image: var(--fp-close-icon);
	background-position: center;
	background-size: 1rem;
	background-repeat: no-repeat;
	background-color: var(--fp-button-background-color);
	border-radius: 1.25rem;
	cursor: pointer;
}
.fp-search-delete-button:hover {
	background-color: var(--fp-button-background-hover-color);
}
.fp-search-thin {
	font-size: 0.75rem;
}
.fp-search-expand {
	flex-grow: 1;
}
div[class='fp-search-expand'] {
	margin: 0 !important;
}

.fp-search-options {
	margin: 0.5rem 0 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	border-bottom: 0.15rem solid var(--fp-border-color);
}
.fp-search-options > :not(:last-child) {
	margin-right: 1rem;
}
.fp-search-options-group {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}
.fp-search-options-group > :not(:last-child) {
	margin-right: 0.5rem;
}
.fp-search-options-group > .fp-checkbox:not(:first-child) + .fp-checkbox-label {
	margin-left: 0.5rem;
}

.fp-search-navigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.fp-search-navigation > * {
	margin-bottom: 0.75rem;
	flex-shrink: 0;
}
.fp-search-display-total {
	font-size: 0.75rem;
}
.fp-search-page-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fp-search-page-buttons > :not(:last-child) {
	margin-right: 0.25rem;
}
.fp-search-page-button {
	height: 0.5rem;

	background-position: center;
	background-size: auto 0.9rem;
	background-repeat: no-repeat;
}
.fp-search-first-page,
.fp-search-last-page {
	width: 0.75rem;
}
.fp-search-first-page {
	background-image: var(--fp-search-first-page-icon);
}
.fp-search-prev-page {
	background-image: var(--fp-left-arrow-icon);
}
.fp-search-next-page {
	background-image: var(--fp-right-arrow-icon);
}
.fp-search-last-page {
	background-image: var(--fp-search-last-page-icon);
}
.fp-search-page-text {
	padding: 0 0.25rem;
	flex-shrink: 0;
}

.fp-search-results {
	margin: 0 -0.25rem 0.75rem;
	display: flex;
	flex-wrap: wrap;
}
.fp-search-result {
	width: calc(100% / var(--fp-search-result-columns) - 0.5rem);
	height: 6rem;
	margin: 0.25rem;
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;

	border: 0.15rem solid var(--fp-border-color);
}
.fp-search-result-logo {
	width: 6rem;
	margin-right: 0.75rem;
	align-self: stretch;
	flex-shrink: 0;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.fp-search-result-text {
	margin-right: 0.25rem;
	overflow: hidden;

	white-space: nowrap;
}
.fp-search-result-text > * {
	overflow: hidden;

	text-overflow: ellipsis;
}
.fp-search-result-header {
	margin-bottom: 0.25rem;
}
.fp-search-result-title {
	font-family: var(--fp-header-font);
	font-size: 1.5rem;
}
.fp-search-result-creator {
	margin-left: 0.15rem;

	font-size: 0.75rem;
}
.fp-search-result-info {
	font-size: 0.75rem;
}
.fp-search-result-tags {
	opacity: 0.7;
}

.fp-search-stats {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.fp-search-stats-column {
	width: 100%;
	max-width: 32rem;
	margin: 0.5rem 1rem;
}
.fp-search-stats-row {
	display: flex;
	justify-content: center;
}
.fp-search-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fp-search-stat-count {
	font-family: var(--fp-header-font);
	font-size: 1.75rem;
}
.fp-search-stat-spacer {
	min-width: 1rem;
	flex-basis: 15%;
}