/* Page theme */

:root {
	--fp-light-header-color: #000000;
	--fp-light-text-color: #000000;
	--fp-light-background-color: #ffffff;
	--fp-light-alt-background-color: #eeeeee;
	--fp-light-link-color: #045edd;
	--fp-light-active-link-color: #dd0428;
	--fp-light-visited-link-color: #e239c1;
	--fp-light-border-color: #cccccc;
	--fp-light-navigation-text-color: #ffffff;
	--fp-light-navigation-background-color-1: #d60a1e;
	--fp-light-navigation-background-color-2: #5f030a;
	--fp-light-sidebar-popup-background-color: #b10718;
	--fp-light-sidebar-social-logo-opacity: 0.9;
	--fp-light-sidebar-logo-bevel-color-1: #800000;
	--fp-light-sidebar-logo-bevel-color-2: #ff0000;

	--fp-dark-header-color: #ffffff;
	--fp-dark-text-color: #eeeeee;
	--fp-dark-background-color: #222222;
	--fp-dark-alt-background-color: #333333;
	--fp-dark-link-color: #40b7f3;
	--fp-dark-active-link-color: #ff3c3d;
	--fp-dark-visited-link-color: #ed68d8;
	--fp-dark-border-color: #555555;
	--fp-dark-navigation-text-color: #eeeeee;
	--fp-dark-navigation-background-color-1: #84030e;
	--fp-dark-navigation-background-color-2: #380103;
	--fp-dark-sidebar-popup-background-color: #6c020a;
	--fp-dark-sidebar-social-logo-opacity: 0.8;
	--fp-dark-sidebar-logo-bevel-color-1: #400000;
	--fp-dark-sidebar-logo-bevel-color-2: #bb0000;
}

:root:not([data-theme='dark']) {
	--fp-header-color: var(--fp-light-header-color);
	--fp-text-color: var(--fp-light-text-color);
	--fp-background-color: var(--fp-light-background-color);
	--fp-alt-background-color: var(--fp-light-alt-background-color);
	--fp-link-color: var(--fp-light-link-color);
	--fp-active-link-color: var(--fp-light-active-link-color);
	--fp-visited-link-color: var(--fp-light-visited-link-color);
	--fp-border-color: var(--fp-light-border-color);
	--fp-navigation-text-color: var(--fp-light-navigation-text-color);
	--fp-navigation-background-color-1: var(--fp-light-navigation-background-color-1);
	--fp-navigation-background-color-2: var(--fp-light-navigation-background-color-2);
	--fp-sidebar-popup-background-color: var(--fp-light-sidebar-popup-background-color);
	--fp-sidebar-social-logo-opacity: var(--fp-light-sidebar-social-logo-opacity);
	--fp-sidebar-logo-bevel-color-1: var(--fp-light-sidebar-logo-bevel-color-1);
	--fp-sidebar-logo-bevel-color-2: var(--fp-light-sidebar-logo-bevel-color-2);
}
:root[data-theme='dark'] {
	--fp-header-color: var(--fp-dark-header-color);
	--fp-text-color: var(--fp-dark-text-color);
	--fp-background-color: var(--fp-dark-background-color);
	--fp-alt-background-color: var(--fp-dark-alt-background-color);
	--fp-link-color: var(--fp-dark-link-color);
	--fp-active-link-color: var(--fp-dark-active-link-color);
	--fp-visited-link-color: var(--fp-dark-visited-link-color);
	--fp-border-color: var(--fp-dark-border-color);
	--fp-navigation-text-color: var(--fp-dark-navigation-text-color);
	--fp-navigation-background-color-1: var(--fp-dark-navigation-background-color-1);
	--fp-navigation-background-color-2: var(--fp-dark-navigation-background-color-2);
	--fp-sidebar-popup-background-color: var(--fp-dark-sidebar-popup-background-color);
	--fp-sidebar-social-logo-opacity: var(--fp-dark-sidebar-social-logo-opacity);
	--fp-sidebar-logo-bevel-color-1: var(--fp-dark-sidebar-logo-bevel-color-1);
	--fp-sidebar-logo-bevel-color-2: var(--fp-dark-sidebar-logo-bevel-color-2);
}

/* Global constants */

:root {
	--fp-header-font: Tahoma, Verdana, sans-serif;
	--fp-content-font: Verdana, Tahoma, sans-serif;
	--fp-gradient: fixed radial-gradient(ellipse at top left, var(--fp-navigation-background-color-1), var(--fp-navigation-background-color-2));
	--fp-sidebar-width: 15rem;
	--fp-navbar-height: 3.5rem;

	--fp-navigation-alt-background-color: #00000022;
	--fp-navigation-active-background-color: #ffffff44;

	--fp-left-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m3 8 8-6v12Z"/></svg>');
	--fp-right-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m13 8-8-6v12Z"/></svg>');
	--fp-up-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23888" xmlns="http://www.w3.org/2000/svg"><path d="m8 3-6 8h12Z"/></svg>');
	--fp-down-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23888" xmlns="http://www.w3.org/2000/svg"><path d="m8 13-6-8h12Z"/></svg>');
	--fp-navbar-sidebar-toggle-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 7" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v1H0zm0 3h8v1H0zm0 3h8v1H0z"/></svg>');
	--fp-sidebar-languages-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-80q-82 0-155-31.5t-127.5-86-86-127.5T80-480q0-83 31.5-155.5t86-127 127.5-86T480-880q83 0 155.5 31.5t127 86 86 127T880-480q0 82-31.5 155t-86 127.5-127 86T480-80m0-82q26-36 45-75t31-83H404q12 44 31 83t45 75m-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55m208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178M170-400h136q-3-20-4.5-39.5T300-480t1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480t2.5 40.5T170-400m216 0h188q3-20 4.5-39.5T580-480t-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480t1.5 40.5T386-400m268 0h136q5-20 7.5-39.5T800-480t-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480t-1.5 40.5T654-400m-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640m-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83m-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640"/></svg>');
	--fp-sidebar-light-theme-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-280q-83 0-141.5-58.5T280-480t58.5-141.5T480-680t141.5 58.5T680-480t-58.5 141.5T480-280M200-440H40v-80h160zm720 0H760v-80h160zM440-760v-160h80v160zm0 720v-160h80v160zM256-650l-101-97 57-59 96 100zm492 496-97-101 53-55 101 97zm-98-550 97-101 59 57-100 96zM154-212l101-97 55 53-97 101z"/></svg>');
	--fp-sidebar-dark-theme-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-120q-150 0-255-105T120-480t105-255 255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120"/></svg>');
}

/* Mobile accommodations */

@media (max-width: 49.99rem) {
	.fp-navbar {
		display: flex;
	}
	.fp-sidebar {
		width: 100%;
		top: var(--fp-navbar-height);
	}
	.fp-sidebar-logo {
		display: none;
	}
	.fp-content {
		margin-top: var(--fp-navbar-height);
		padding: 1rem;
	}

	:root:not([data-mobile-sidebar='true']) .fp-sidebar {
		display: none;
	}

	:root[data-mobile-sidebar='true'] .fp-navbar,
	:root[data-mobile-sidebar='true'] .fp-sidebar {
		box-shadow: none !important;
	}
	:root[data-mobile-sidebar='true'] .fp-sidebar {
		display: flex;
	}
	:root[data-mobile-sidebar='true'] .fp-content {
		display: none;
	}
}
@media (min-width: 50rem) {
	.fp-navbar {
		display: none;
	}
	.fp-sidebar {
		width: var(--fp-sidebar-width);
		top: 0;
		display: flex;
	}
	.fp-sidebar-logo {
		display: flex;
	}
	.fp-content {
		margin-left: var(--fp-sidebar-width);
		padding: 1rem 2rem;
	}
}
@media (hover: none) {
	.fp-toggle:hover {
		background-color: unset !important;
	}
}

/* The body */

body {
	margin: 0;
	padding: 0;

	color: var(--fp-navigation-text-color);
	font-family: var(--fp-content-font);
	background-color: var(--fp-background-color);

	/* Needed by Safari iOS */
	-webkit-text-size-adjust: none;
}

/* Navigation */

.fp-navbar,
.fp-sidebar {
	z-index: 2;
	position: fixed;

	/* Work around Windows' wacky font rendering */
	font-size: 1.031rem;
	font-weight: bold;
	background: var(--fp-gradient);
	box-shadow: 0 0 0.5rem #000000;
}
.fp-navbar a,
.fp-sidebar a {
	color: var(--fp-navigation-text-color);
	text-decoration: none !important;
}

.fp-navbar {
	width: 100%;
	height: var(--fp-navbar-height);
	z-index: 2;
	top: 0;
}
.fp-sidebar-toggle {
	width: 3.5rem;

	background-image: var(--fp-navbar-sidebar-toggle-icon);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}
.fp-navbar-logo {
	padding: 0.1rem 0.5rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.fp-navbar-logo .fp-logo-icon {
	width: 3rem;
	height: 3rem;
}
.fp-navbar-logo .fp-logo-text {
	width: 9rem;
	height: 3rem;
	transform: translateY(0.25rem);
}

.fp-sidebar {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	bottom: 0;
	flex-direction: column;
}
.fp-sidebar-logo {
	padding: 0.3rem 0 0.6rem;
	flex-direction: column;
	align-items: center;
}
.fp-sidebar-logo .fp-logo-icon {
	width: 13rem;
	height: 13rem;

	filter: drop-shadow(0 -0.2rem 0 var(--fp-sidebar-logo-bevel-color-1)) drop-shadow(0 0.2rem 0 var(--fp-sidebar-logo-bevel-color-2));
}
.fp-sidebar-logo .fp-logo-text {
	width: 13rem;
	height: 4.5rem;
}
.fp-sidebar-button {
	height: 2rem;
	padding: 0 0.45rem 0 0.5rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fp-sidebar-button::after,
.fp-languages-toggle::before {
	align-self: stretch;

	background-position: center;
	background-repeat: no-repeat;
	content: '';
}
.fp-sidebar-button::after {
	width: 1rem;

	background-image: var(--fp-left-arrow-icon);
}
.fp-alternating:nth-child(even) {
	background-color: var(--fp-navigation-alt-background-color);
}
.fp-sidebar-spacer {
	height: 2rem;
	flex-shrink: 0;
}
.fp-sidebar-max-spacer {
	min-height: 2rem;
	flex-grow: 1;
}
.fp-socials {
	padding: 0.5rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	background-color: var(--fp-navigation-alt-background-color);
}
.fp-social-logo {
	padding: 0.1rem 0.5rem;
	opacity: var(--fp-sidebar-social-logo-opacity);
	display: flex;
	align-items: center;
}
.fp-social-logo-icon {
	width: 1.5rem;
	height: 1.5rem;
}
.fp-languages-container {
	height: 0;
	position: relative;
}
.fp-languages {
	max-height: calc(100vh - var(--fp-navbar-height) - 5rem);
	overflow: auto;
	position: absolute;
	right: 3rem;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	background-color: var(--fp-sidebar-popup-background-color);
	box-shadow: 0 0.1rem 0.5rem -0.1rem #000000;
}
.fp-controls {
	height: 2.5rem;
	display: flex;
	flex-shrink: 0;
}
.fp-languages-toggle {
	padding: 0 0.7rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.fp-languages-toggle::before {
	width: 1.5rem;
	margin-right: 0.5rem;

	background-image: var(--fp-sidebar-languages-toggle-icon);
}
.fp-theme-button {
	width: 3rem;

	background-image: var(--fp-sidebar-dark-theme-toggle-icon);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}

.fp-button,
.fp-toggle {
	cursor: pointer;
	touch-action: manipulation;
}
.fp-toggle {
	user-select: none;
}
.fp-button:hover,
.fp-toggle:hover {
	background-color: var(--fp-navigation-active-background-color);
}
.fp-toggle[data-toggled='true'] {
	background-color: var(--fp-navigation-active-background-color) !important;
}

/* Content */

.fp-content {
	color: var(--fp-text-color);
}
.fp-content a:link {
	color: var(--fp-link-color);
	text-decoration: none;
}
.fp-content a:hover {
	color: var(--fp-link-color);
	text-decoration: underline;
}
.fp-content a:visited {
	color: var(--fp-visited-link-color);
	text-decoration: none;
}
.fp-content a:active {
	color: var(--fp-active-link-color);
	text-decoration: underline;
}
.fp-content-header,
.fp-content-subheader {
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-end;

	font-family: var(--fp-header-font);
	border-bottom: 0.15rem solid var(--fp-border-color);
}
.fp-content-header {
	font-size: 2rem;
}
.fp-content-subheader {
	font-size: 1.5rem;
}
.fp-content-subheader:not(:first-child) {
	margin-top: 1.3rem;
}
.fp-content-spacer {
	height: 1rem;
}
.fp-content-small-spacer {
	height: 0.5rem;
}
.fp-content-large-spacer {
	height: 1.5rem;
}

.fp-hidden-content-container {
	--fp-hidden-content-arrow-icon: var(--fp-down-arrow-icon);

	background-color: var(--fp-alt-background-color);
	border: 0.15rem solid var(--fp-border-color);
}
.fp-hidden-content-container + .fp-hidden-content-container {
	border-top-width: 0;
}
.fp-hidden-content-header {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-weight: bold;
	cursor: pointer;
	touch-action: manipulation;
}
.fp-hidden-content-header::before {
	width: 1.1rem;
	margin-right: 0.75rem;
	align-self: stretch;
	flex-shrink: 0;

	background-image: var(--fp-hidden-content-arrow-icon);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
}
.fp-hidden-content {
	margin: 0 1rem;
	padding: 1rem 0;

	border-top: 0.15rem solid var(--fp-border-color);
}

/* Generic classes */

.fp-hidden {
	display: none;
}