/* Page theme */

:root {
	--fp-light-header-color: #000000;
	--fp-light-text-color: #000000;
	--fp-light-background-color: #ffffff;
	--fp-light-alt-background-color: #eeeeee;
	--fp-light-link-color: #045edd;
	--fp-light-active-link-color: #dd0428;
	--fp-light-visited-link-color: #e239c1;
	--fp-light-border-color: #cccccc;
	--fp-light-text-box-focus-border-color: #00aaff;
	--fp-light-button-background-color: #0077ff;
	--fp-light-button-background-hover-color: #0066ee;
	--fp-light-scrollbar-color: #999999;
	--fp-light-shell-text-color: #ffffff;
	--fp-light-shell-background-color-1: #d60a1e;
	--fp-light-shell-background-color-2: #5f030a;
	--fp-light-shell-popup-background-color: #b10718;
	--fp-light-shell-social-logo-opacity: 0.9;
	--fp-light-shell-logo-bevel-color-1: #800000;
	--fp-light-shell-logo-bevel-color-2: #ff0000;
	--fp-light-shell-scrollbar-color: #d19ea3;

	--fp-dark-header-color: #ffffff;
	--fp-dark-text-color: #eeeeee;
	--fp-dark-background-color: #222222;
	--fp-dark-alt-background-color: #333333;
	--fp-dark-link-color: #40b7f3;
	--fp-dark-active-link-color: #ff3c3d;
	--fp-dark-visited-link-color: #ed68d8;
	--fp-dark-border-color: #555555;
	--fp-dark-text-box-focus-border-color: #0088cc;
	--fp-dark-button-background-color: #0044bb;
	--fp-dark-button-background-hover-color: #0055cc;
	--fp-dark-scrollbar-color: #777777;
	--fp-dark-shell-text-color: #eeeeee;
	--fp-dark-shell-background-color-1: #84030e;
	--fp-dark-shell-background-color-2: #380103;
	--fp-dark-shell-popup-background-color: #6c020a;
	--fp-dark-shell-social-logo-opacity: 0.8;
	--fp-dark-shell-logo-bevel-color-1: #400000;
	--fp-dark-shell-logo-bevel-color-2: #bb0000;
	--fp-dark-shell-scrollbar-color: #a57b80;
}

:root:not([data-theme='dark']) {
	--fp-header-color: var(--fp-light-header-color);
	--fp-text-color: var(--fp-light-text-color);
	--fp-background-color: var(--fp-light-background-color);
	--fp-alt-background-color: var(--fp-light-alt-background-color);
	--fp-link-color: var(--fp-light-link-color);
	--fp-active-link-color: var(--fp-light-active-link-color);
	--fp-visited-link-color: var(--fp-light-visited-link-color);
	--fp-border-color: var(--fp-light-border-color);
	--fp-text-box-focus-border-color: var(--fp-light-text-box-focus-border-color);
	--fp-button-background-color: var(--fp-light-button-background-color);
	--fp-button-background-hover-color: var(--fp-light-button-background-hover-color);
	--fp-scrollbar-color: var(--fp-light-scrollbar-color);
	--fp-shell-text-color: var(--fp-light-shell-text-color);
	--fp-shell-background-color-1: var(--fp-light-shell-background-color-1);
	--fp-shell-background-color-2: var(--fp-light-shell-background-color-2);
	--fp-shell-popup-background-color: var(--fp-light-shell-popup-background-color);
	--fp-shell-social-logo-opacity: var(--fp-light-shell-social-logo-opacity);
	--fp-shell-logo-bevel-color-1: var(--fp-light-shell-logo-bevel-color-1);
	--fp-shell-logo-bevel-color-2: var(--fp-light-shell-logo-bevel-color-2);
	--fp-shell-scrollbar-color: var(--fp-light-shell-scrollbar-color);
}
:root[data-theme='dark'] {
	--fp-header-color: var(--fp-dark-header-color);
	--fp-text-color: var(--fp-dark-text-color);
	--fp-background-color: var(--fp-dark-background-color);
	--fp-alt-background-color: var(--fp-dark-alt-background-color);
	--fp-link-color: var(--fp-dark-link-color);
	--fp-active-link-color: var(--fp-dark-active-link-color);
	--fp-visited-link-color: var(--fp-dark-visited-link-color);
	--fp-border-color: var(--fp-dark-border-color);
	--fp-text-box-focus-border-color: var(--fp-dark-text-box-focus-border-color);
	--fp-button-background-color: var(--fp-dark-button-background-color);
	--fp-button-background-hover-color: var(--fp-dark-button-background-hover-color);
	--fp-scrollbar-color: var(--fp-dark-scrollbar-color);
	--fp-shell-text-color: var(--fp-dark-shell-text-color);
	--fp-shell-background-color-1: var(--fp-dark-shell-background-color-1);
	--fp-shell-background-color-2: var(--fp-dark-shell-background-color-2);
	--fp-shell-popup-background-color: var(--fp-dark-shell-popup-background-color);
	--fp-shell-social-logo-opacity: var(--fp-dark-shell-social-logo-opacity);
	--fp-shell-logo-bevel-color-1: var(--fp-dark-shell-logo-bevel-color-1);
	--fp-shell-logo-bevel-color-2: var(--fp-dark-shell-logo-bevel-color-2);
	--fp-shell-scrollbar-color: var(--fp-dark-shell-scrollbar-color);
}

/* Constants */

:root {
	--fp-header-font: Tahoma, Verdana, sans-serif;
	--fp-content-font: Verdana, Tahoma, sans-serif;
	--fp-gradient: fixed radial-gradient(ellipse at top left, var(--fp-shell-background-color-1), var(--fp-shell-background-color-2));
	--fp-left-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m3 8 8-6v12Z"/></svg>');
	--fp-right-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="m13 8-8-6v12Z"/></svg>');
	--fp-up-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23888" xmlns="http://www.w3.org/2000/svg"><path d="m8 3-6 8h12Z"/></svg>');
	--fp-down-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23888" xmlns="http://www.w3.org/2000/svg"><path d="m8 13-6-8h12Z"/></svg>');
	--fp-checkbox-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M382-240 154-468l57-57 171 171 367-367 57 57z"/></svg>');
	--fp-close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M291-221.91 221.91-291l189-189-189-189L291-738.09l189 189 189-189L738.09-669l-189 189 189 189L669-221.91l-189-189z"/></svg>');

	--fp-shell-sidebar-width: 15rem;
	--fp-shell-navbar-height: 3.5rem;
	--fp-shell-alt-background-color: #00000022;
	--fp-shell-active-background-color: #ffffff44;
	--fp-shell-sidebar-toggle-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 8 7" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v1H0zm0 3h8v1H0zm0 3h8v1H0z"/></svg>');
	--fp-shell-languages-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-80q-82 0-155-31.5t-127.5-86-86-127.5T80-480q0-83 31.5-155.5t86-127 127.5-86T480-880q83 0 155.5 31.5t127 86 86 127T880-480q0 82-31.5 155t-86 127.5-127 86T480-80m0-82q26-36 45-75t31-83H404q12 44 31 83t45 75m-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55m208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178M170-400h136q-3-20-4.5-39.5T300-480t1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480t2.5 40.5T170-400m216 0h188q3-20 4.5-39.5T580-480t-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480t1.5 40.5T386-400m268 0h136q5-20 7.5-39.5T800-480t-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480t-1.5 40.5T654-400m-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640m-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83m-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640"/></svg>');
	--fp-shell-light-theme-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-280q-83 0-141.5-58.5T280-480t58.5-141.5T480-680t141.5 58.5T680-480t-58.5 141.5T480-280M200-440H40v-80h160zm720 0H760v-80h160zM440-760v-160h80v160zm0 720v-160h80v160zM256-650l-101-97 57-59 96 100zm492 496-97-101 53-55 101 97zm-98-550 97-101 59 57-100 96zM154-212l101-97 55 53-97 101z"/></svg>');
	--fp-shell-dark-theme-toggle-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23fff"><path d="M480-120q-150 0-255-105T120-480t105-255 255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120"/></svg>');
}

/* Mobile accommodations */

@media (max-width: 49.99rem) {
	.fp-shell-navbar {
		display: flex;
	}
	.fp-shell-sidebar {
		width: 100%;
		top: var(--fp-shell-navbar-height);
	}
	.fp-shell-sidebar-logo {
		display: none;
	}
	.fp-content {
		padding: 1rem 1rem 0;
		top: var(--fp-shell-navbar-height);
		left: 0;
	}
	.fp-content::after {
		height: 1rem;
	}

	:root:not([data-mobile-sidebar='true']) .fp-shell-sidebar {
		display: none;
	}

	:root[data-mobile-sidebar='true'] body {
		overflow: hidden;
	}
	:root[data-mobile-sidebar='true'] .fp-shell-navbar,
	:root[data-mobile-sidebar='true'] .fp-shell-sidebar {
		box-shadow: none !important;
	}
	:root[data-mobile-sidebar='true'] .fp-shell-sidebar {
		display: flex;
	}
}
@media (min-width: 50rem) {
	.fp-shell-navbar {
		display: none;
	}
	.fp-shell-sidebar {
		width: var(--fp-shell-sidebar-width);
		top: 0;
		display: flex;
	}
	.fp-shell-sidebar-logo {
		display: flex;
	}
	.fp-content {
		padding: 1rem 2rem 0;
		top: 0;
		left: var(--fp-shell-sidebar-width);
	}
	.fp-content::after {
		height: 1.25rem;
	}
}
@media (hover: none) {
	.fp-shell-toggle:hover {
		background-color: unset !important;
	}
}

/* Top-level elements */

:root {
	scrollbar-color: var(--fp-scrollbar-color) var(--fp-alt-background-color);
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;

	color: var(--fp-shell-text-color);
	font-family: var(--fp-content-font);
	background-color: var(--fp-background-color);

	/* Needed by Safari iOS */
	-webkit-text-size-adjust: none;
}

/* Shell */

.fp-shell-navbar,
.fp-shell-sidebar {
	z-index: 2;
	position: fixed;

	/* Work around Windows' wacky font rendering */
	font-size: 1.032rem;
	font-weight: bold;
	background: var(--fp-gradient);
	box-shadow: 0 0 0.5rem #000000;
}
.fp-shell-navbar a,
.fp-shell-sidebar a {
	color: var(--fp-shell-text-color);
	text-decoration: none !important;
}

.fp-shell-navbar {
	width: 100%;
	height: var(--fp-shell-navbar-height);
	z-index: 2;
	top: 0;
}
.fp-shell-sidebar-toggle {
	width: 3.5rem;

	background-image: var(--fp-shell-sidebar-toggle-icon);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}
.fp-shell-navbar-logo {
	padding: 0.1rem 0.5rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.fp-shell-navbar-logo .fp-shell-logo-icon {
	width: 3rem;
	height: 3rem;
}
.fp-shell-navbar-logo .fp-shell-logo-text {
	width: 9rem;
	height: 3rem;
	transform: translateY(0.25rem);
}

.fp-shell-sidebar {
	overflow-x: hidden;
	overflow-y: auto;
	bottom: 0;
	flex-direction: column;

	scrollbar-color: var(--fp-shell-scrollbar-color) var(--fp-shell-alt-background-color);
}
.fp-shell-sidebar-logo {
	height: 18.5rem;
	margin: 0 0.5rem;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fp-shell-sidebar-logo .fp-shell-logo-icon,
.fp-shell-sidebar-logo .fp-shell-logo-text {
	width: 100%;
	max-width: 13rem;
}
.fp-shell-sidebar-logo .fp-shell-logo-icon {
	filter: drop-shadow(0 -0.2rem 0 var(--fp-shell-logo-bevel-color-1)) drop-shadow(0 0.2rem 0 var(--fp-shell-logo-bevel-color-2));
}
.fp-shell-sidebar-button {
	padding: 0.4rem 0.45rem 0.4rem 0.5rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fp-shell-sidebar-button::after,
.fp-shell-languages-toggle::before {
	align-self: stretch;

	background-position: center;
	background-repeat: no-repeat;
	content: '';
}
.fp-shell-sidebar-button::after {
	width: 1rem;
	flex-shrink: 0;

	background-image: var(--fp-left-arrow-icon);
}
.fp-shell-alternating:nth-child(even) {
	background-color: var(--fp-shell-alt-background-color);
}
.fp-shell-spacer::after,
.fp-shell-max-spacer::after {
	content: '\200B';
}
.fp-shell-spacer,
.fp-shell-max-spacer {
	padding: 0.4rem 0;
	flex-shrink: 0;
}
.fp-shell-max-spacer {
	flex-grow: 1;
}
.fp-shell-socials {
	padding: 0.5rem 1.5rem;
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	background-color: var(--fp-shell-alt-background-color);
}
.fp-shell-social-logo {
	padding: 0.1rem 0.5rem;
	opacity: var(--fp-shell-social-logo-opacity);
	display: flex;
	align-items: center;
}
.fp-shell-social-logo-icon {
	width: 1.5rem;
	height: 1.5rem;
}
.fp-shell-languages-container {
	height: 0;
	position: relative;
}
.fp-shell-languages {
	max-height: calc(100vh - var(--fp-shell-navbar-height) - 5rem);
	overflow: auto;
	position: absolute;
	right: 3rem;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	background-color: var(--fp-shell-popup-background-color);
	box-shadow: 0 0.1rem 0.5rem -0.1rem #000000;
}
.fp-shell-controls {
	display: flex;
	flex-shrink: 0;
}
.fp-shell-languages-toggle {
	padding: 0.6rem 0.7rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.fp-shell-languages-toggle::before {
	width: 1.5rem;
	margin-right: 0.5rem;

	background-image: var(--fp-shell-languages-toggle-icon);
}
.fp-shell-theme-button {
	width: 3rem;

	background-image: var(--fp-shell-dark-theme-toggle-icon);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}

.fp-shell-button,
.fp-shell-toggle {
	cursor: pointer;
	touch-action: manipulation;
}
.fp-shell-toggle {
	user-select: none;
}
.fp-shell-button:hover,
.fp-shell-toggle:hover {
	background-color: var(--fp-shell-active-background-color);
}
.fp-shell-toggle[data-toggled='true'] {
	background-color: var(--fp-shell-active-background-color) !important;
}

/* Content */

.fp-content {
	overflow: auto;
	position: absolute;
	right: 0;
	bottom: 0;

	color: var(--fp-text-color);
}
.fp-content::after {
	display: block;

	content: '';
}
.fp-content a:link {
	color: var(--fp-link-color);
	text-decoration: none;
}
.fp-content a:hover {
	color: var(--fp-link-color);
	text-decoration: underline;
}
.fp-content a:visited {
	color: var(--fp-visited-link-color);
	text-decoration: none;
}
.fp-content a:active {
	color: var(--fp-active-link-color);
	text-decoration: underline;
}
.fp-content-header,
.fp-content-subheader {
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-end;

	font-family: var(--fp-header-font);
	border-bottom: 0.15rem solid var(--fp-border-color);
}
.fp-content-header {
	font-size: 2rem;
}
.fp-content-subheader {
	font-size: 1.5rem;
}
.fp-content-subheader:not(:first-child) {
	margin-top: 1.3rem;
}
.fp-content-spacer {
	height: 1rem;
}
.fp-content-small-spacer {
	height: 0.5rem;
}
.fp-content-large-spacer {
	height: 1.5rem;
}
.fp-content-divider {
	height: 0.15rem;
	margin: 1rem 0;

	background-color: var(--fp-border-color);
}

/* Page elements */

ol, ul {
	margin: 0;
	padding-left: 2.5rem;
}
ul {
	list-style-type: none;
}
li:not(:last-child) {
	margin-bottom: 0.5rem;
}
ul > li {
	position: relative;
}
ul > li::before {
	position: absolute;
	left: -1rem;

	content: '\2022';
}

code {
	vertical-align: bottom;

	font-size: 0.9rem;
}

.fp-text-box {
	--fp-text-box-border-color: var(--fp-border-color);

	all: unset;
	min-width: 0;
	padding: 0.3rem 0.6rem;
	box-sizing: border-box;

	border: 0.15rem solid var(--fp-text-box-border-color);
	border-radius: 0.5rem;
	box-shadow: inset 0 0 0.3rem var(--fp-text-box-border-color);
}
.fp-text-box:focus {
	--fp-text-box-border-color: var(--fp-text-box-focus-border-color);
}

.fp-button {
	all: unset;
	padding: 0.5rem 0.75rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: var(--fp-shell-text-color) !important;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 0;
	background-color: var(--fp-button-background-color);
	border-radius: 0.5rem;
	cursor: pointer;
}
.fp-button:hover {
	background-color: var(--fp-button-background-hover-color);
}
.fp-button-icon {
	width: 100%;
	height: 100%;
}

.fp-dropdown {
	all: unset;
	padding: 0.3rem 1.5rem 0.3rem 0.5rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;

	background-image: var(--fp-down-arrow-icon);
	background-position: right 0.35rem center;
	background-size: 0.8rem;
	background-repeat: no-repeat;
	background-color: var(--fp-alt-background-color);
	border: 0.15rem solid var(--fp-border-color);
	border-radius: 0.5rem;
}
.fp-dropdown:hover {
	background-color: var(--fp-border-color);
}

.fp-checkbox {
	display: none;
}
.fp-checkbox + .fp-checkbox-label::before {
	min-width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
	display: inline-block;
	vertical-align: top;

	border-width: 0.15rem;
	border-style: solid;
	border-color: var(--fp-border-color);
	border-radius: 0.25rem;
	content: '';
}
.fp-checkbox:hover + .fp-checkbox-label::before {
	background-color: var(--fp-alt-background-color);
}
.fp-checkbox:checked + .fp-checkbox-label::before {
	background-image: var(--fp-checkbox-icon);
	background-position: center;
	background-color: var(--fp-button-background-color);
	border-color: var(--fp-button-background-color);
}
.fp-checkbox:checked:hover + .fp-checkbox-label::before {
	background-color: var(--fp-button-background-hover-color);
	border-color: var(--fp-button-background-hover-color);
}

.fp-hidden-content-container {
	--fp-hidden-content-arrow-icon: var(--fp-down-arrow-icon);

	background-color: var(--fp-alt-background-color);
	border: 0.15rem solid var(--fp-border-color);
}
.fp-hidden-content-container + .fp-hidden-content-container {
	border-top-width: 0;
}
.fp-hidden-content-header {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-weight: bold;
	cursor: pointer;
	touch-action: manipulation;
}
.fp-hidden-content-header::before {
	width: 1.1rem;
	margin-right: 0.75rem;
	align-self: stretch;
	flex-shrink: 0;

	background-image: var(--fp-hidden-content-arrow-icon);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
}
.fp-hidden-content-header a {
	color: var(--fp-text-color) !important;
}
.fp-hidden-content {
	margin: 0 1rem;
	padding: 1rem 0;

	border-top: 0.15rem solid var(--fp-border-color);
}

:root[data-active-modal] .fp-modal-container {
	width: 100%;
	height: 100%;
	padding: 1rem;
	overflow: auto;
	box-sizing: border-box;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #000a;
}
:root:not([data-active-modal]) .fp-modal-container {
	display: none;
}
.fp-modal {
	max-width: 100%;
	margin: auto 0;
	padding: 1.5rem 2rem;
	box-sizing: border-box;
	z-index: 4;
	position: relative;

	background-color: var(--fp-background-color);
	border-radius: 1rem;
	box-shadow: 0 0.25rem 0.75rem -0.25rem #000;
}
.fp-modal-close-button {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;

	background-image: var(--fp-close-icon);
	background-position: center;
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-color: var(--fp-button-background-color);
	border-radius: 0.75rem;
	box-shadow: 0 0.25rem 0.5rem -0.25rem #000;
	cursor: pointer;
}
.fp-modal-close-button:hover {
	background-color: var(--fp-button-background-hover-color);
}

/* Generic classes */

.fp-hidden {
	display: none;
}