/* Constants */

:root {
	--fp-gray-right-arrow-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23888" xmlns="http://www.w3.org/2000/svg"><path d="m13 8-8-6v12Z"/></svg>');
}

/* Entry viewer */

.fp-view-container {
	--fp-toggle-arrow-icon: var(--fp-gray-right-arrow-icon);

	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
}

.fp-view-images {
	display: flex;
}
.fp-view-image-container {
	display: flex;
	flex-direction: column;
}
.fp-view-image-container:first-child {
	margin-right: 1rem;
	flex: 2 0 0;
}
.fp-view-image-container:last-child {
	flex: 3 0 0;
}
.fp-view-image-frame {
	padding: 0.75rem;
	flex-grow: 1;
	display: block;

	line-height: 0;
	background-color: var(--fp-alt-background-color);
	border: 0.15rem solid var(--fp-border-color);
}
.fp-view-image {
	width: 100%;
	height: 100%;
	max-height: 15rem;

	object-fit: contain;
}

.fp-view-table {
	width: 100%;
	margin: 0.5rem 0;

	border-collapse: collapse;
}
.fp-view-table td {
	padding: 0.5rem 0.75rem;

	border: 0.15rem solid var(--fp-border-color);
}
.fp-view-table td:first-child {
	width: 28%;
	min-width: 8rem;

	font-weight: bold;
	text-align: right;
	background-color: var(--fp-alt-background-color);
}
.fp-view-table td:last-child {
	white-space: pre-wrap;
	word-break: break-word;
}
.fp-view-table ul {
	margin: 0;
	padding-left: 1rem;
}

.fp-view-actions {
	margin: -0.25rem -0.5rem;
}
.fp-view-actions > * {
	margin: 0.25rem;
}

.fp-view-old-game-data-toggle {
	padding: 0.75rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-weight: bold;
	cursor: pointer;
	touch-action: manipulation;
}
.fp-view-old-game-data-toggle::before {
	width: 1.1rem;
	margin-right: 0.5rem;
	align-self: stretch;
	flex-shrink: 0;

	background-image: var(--fp-toggle-arrow-icon);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
}
.fp-view-old-game-data-toggle:hover {
	background-color: var(--fp-alt-background-color);
}